     body{
            padding: 0;
            margin: 0;
            
            
        }

        @keyframes AnimationBackground { 
            0%{background-position:97% 0%}
            50%{background-position:4% 100%}
            100%{background-position:97% 0%}
        }

        canvas{
            outline: 1px solid red;
            position: relative;
            z-index: 1;
            margin-left: 230px;
        }
        .options{
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            padding: 10px;
            width: 200px;
            height: 100%;
            
        }
        textarea{
            width: 100%;
            height: 100px;
            text-align: left;
            resize: none;
            padding: 4px;
        }
        input{
            width: 100%;
            margin: 4px 0;
            padding: 4px;
        }
        button{
            width: 50%;
            float: left;
        }
        .circle{
            width: 300px;
            height: 300px;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -150px;
            background-color: #ccc;
            z-index: 4;
            transition: cubic-bezier(.17,.67,.83,.67) .2s;
            transform: scale(1.1);
            border-radius: 50%;
            // transition-duration: .4s;
            background: linear-gradient(24deg, #0cd09d, #206c58, #71bb29, #4c5444);
            background-size: 800% 800%;
            animation: AnimationBackground 9s ease infinite;
            
        }

        @keyframes circleAnimaton {
          0%   { 
            box-shadow: 0px 0px 150px 0px rgba(158,93,158,1);
          }

          100% {
            box-shadow: 0px 0px 10px 0px rgba(158,93,158,1);
          }
        }
    
        .result{
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
            padding: 100px 0;
            -ms-word-wrap: break-word;
                word-wrap: break-word;
        }
